{% extends 'base.html.twig' %}

{% block title %}Reclamation
{% endblock %}

{% block body %}


	<div class="container padd-lr0 xs-padd">
		<div class="product-list product-list2 wheel-bgt clearfix">
			<div class="row">
				<divMA</div class="col-xs-12">
					<div class="col-xs-12" style=" margin-top: 110px;">
						<div class="product-elem-style1 product-elem-style wheel-bg1 clearfix">
							<div class="product-table2">
								<div class="img-wrap img-wrap2 product-cell" style="border-bottom-right-radius : 328px;">
									<img src="{{asset('images/recl.jpg')}}" alt="img" class="img-responsive">
								</div>
							</div>
							{# <button id="app_rec_pdf" class="wheel-cheader-but">Telecharger PDF</button> #}
							<div class="product-table3 ">
								<div class="text-wrap text-wrap2 product-cell">
									<div class="title">
										<div class="price-wrap product-cell">
											<span>Reclamation</span>
											details
										</div>
									</details>
								</div>
							</div>
							<div class="img-wrap img-wrap3 product-cell">
								<img src="images/i40.jpg" alt="img" class="img-responsive">
							</div>
							<div class="text-wrap  text-wrap3 product-cell">
								<table class="table">
									<tbody>
										<tr>
											<th>IdReclamation</th>
											<td>{{ reclamation.idReclamation }}</td>
										</tr>
										<tr>
											<th>IdUser</th>
											<td>{{ reclamation.idUser }}</td>
										</tr>
										<tr>
											<th>Reclamation</th>
											<td>{{ reclamation.reclamation }}</td>
										</tr>
										<tr>
											<th>Resolution</th>
											<td>{{ reclamation.resolution }}</td>
										</tr>
										<tr>
											<th>TypeReclamation</th>
											<td>{{ reclamation.typeReclamation }}</td>
										</tr>
										<tr>
											<th>Temps</th>
											<td>{{ reclamation.temps ? reclamation.temps|date('Y-m-d H:i:s') : '' }}</td>
										</tr>
										<tr>
											<th>PDF</th>
											<td>
												<a href="{{ path('app_rec_pdf',{'id': reclamation.idReclamation}) }}" class="wheel-cheader-but">Telecharger PDF</a>
											</td>
										</tr>

									</tbody>

								</table>
								<a href="{{ path('app_reclamation_index') }}" class="wheel-cheader-but">back to list</a>


								<script>
									const showPdfButton = document.querySelector('#showPdfButton');
showPdfButton.addEventListener('click', () => {
fetch('/api/generate-pdf').then(response => response.blob()).then(blob => {
const url = URL.createObjectURL(blob);
const link = document.createElement('a');
link.href = url;
link.download = 'Reclamartion.pdf';
link.click();
});
});
								</script>

								<a href="{{ path('app_reclamation_edit', {'idReclamation': reclamation.idReclamation}) }}" class="wheel-cheader-but">
									edit</a>
								{{ include('reclamation/_delete_form.html.twig') }}

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
