{% extends 'base.html.twig' %}

{% block title %}Voiture index{% endblock %}

{% block body %}
    <h1>Voiture index</h1>

<input type="search" id="myInput" class="form-control pl-6" placeholder="Search voiture"/>
					<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
					<script>
						$(document).ready(function () {
$("#myInput").on("keyup", function () {
var value = $(this).val().toLowerCase();
$("#myTable tr").filter(function () {
$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
});
})
});
					</script>
    <table class="table" id="myTable">
        <thead>
            <tr>
                <th>IdVoiture</th>
                <th>Modele</th>
                <th>Marque</th>
                <th>Matricule</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for voiture in voitures %}

        <link rel="stylesheet" href="{{ asset('bundles/mercuryseriesflashy/css/flashy.css') }}">

            <!-- Flashy depends on jQuery -->
            <script src="//code.jquery.com/jquery.js"></script>
            <!-- Load Flashy default JavaScript -->
            <script src="{{ asset('bundles/mercuryseriesflashy/js/flashy.js') }}"></script>

            <!-- Include Flashy default partial -->
            {{ include('@MercurySeriesFlashy/flashy.html.twig') }}
            <tr>
                <td>{{ voiture.idVoiture }}</td>
                <td>{{ voiture.modele }}</td>
                <td>{{ voiture.marque }}</td>
                <td>{{ voiture.matricule }}</td>
                <td>{{ voiture.image }}</td>
                <td>
                    <a href="{{ path('app_voiture_show', {'idVoiture': voiture.idVoiture}) }}">show</a>
                    <a href="{{ path('app_voiture_edit', {'idVoiture': voiture.idVoiture}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_voiture_new') }}">Create new</a>
{% endblock %}


